
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VedicVamsi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>

    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="{% url 'home' %}">GOMPA VAMSI KRISHNA</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link " href="https://twitter.com/search?q=VedicVamsi">Twitter </a>
                        <a class="nav-item nav-link" href="{% static 'vedicvamsi-converted.pdf' %}">Resume</a>
                        <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
                      </div>
                    </div>
            </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="mailto:samvamsi55555@gmail.com" class="btn btn-primary my-2">EmailMe</a>
          </p>
          <img src= {% static 'photo copy.jpg' %} />
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {% for job in jobs.all %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src={{ job.image.url }} />
                <div class="card-body">
                  <p class="card-text"> {{ job.summary }}</p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
      </div>
    </div>

    </main>

    <footer class="text-muted">
      <div class="container text-center"> 
        <p>©️ VedicVamsi {% now "Y" %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </body>
</html>
